
   <p>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <!--First slide-->
        <mdb-carousel-item>
          <div class="col-md-4">
            <mdb-card class="cardClass"> 
              <mdb-card-img src="assets/img/coins.jpg" alt="Finance"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Finance and Taxes</h4>
                </mdb-card-title>
                <p>We deal will all types of legal issues related to Finance and tax</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          
          <div class="col-md-4 clearfix d-none d-md-block">
                <mdb-card class="cardClass">
                  <mdb-card-img src="assets/img/criminal_and_civil.jpg" alt="Civil"></mdb-card-img>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>Criminal And Civil</h4>
                    </mdb-card-title>
                    <p>Our expert team is well versed in handling Criminal as well as civil issues.</p>
                    <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
                  </mdb-card-body>
                </mdb-card>
              </div> 
       
        <div class="col-md-4 clearfix d-none d-md-block">
              <mdb-card class="cardClass">
                <mdb-card-img src="assets/img/company.jpg" alt="Company"></mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>Company</h4>
                  </mdb-card-title>
                  <p>Companies can concentrate on making more profits while we deal with the legal issues.</p>
                  <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
            </div> 
        </mdb-carousel-item>
         <!--Second slide-->
        <mdb-carousel-item>
         <div class="col-md-4">
            <mdb-card class="cardClass">
              <mdb-card-img src="assets/img/tax.jpg" alt="Tax"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>TAX</h4>
                </mdb-card-title>
                <p>Text to be added.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div> 
      </mdb-carousel-item>
        <!--/Third slide-->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </p>
